body {
    font-family: 'Montserrat', sans-serif;
}
.container {
    padding: 0 .625rem;
}
.container-border {
    padding-left: .4375rem;
    padding-right: .625rem;
}
.container-playlist {
    padding: 0 .625rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}
.section-overflow {
    overflow-y: auto;
    height: 100%;
    padding-top: 5rem;
}
.section-overflow .container nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
}
.section-overflow .container nav ul li {
    padding: .3125rem .625rem;
}
.section-overflow .container nav ul li a {
    color: var(--second-color);
    font-weight: bold;
    font-size: 0.8rem;
    text-decoration: none;
}
.my-cards-music {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -.625rem;
}
.my-card {
    width: calc((100% / 6) - 1.25rem);
    margin: 0 .625rem;
}
.song > h4 {
    text-align: center;
    color: white;
    padding: .3125rem 0;
    font-size: 0.8rem;
}
.song > p {
    text-align: center;
    color: var(--second-color);
    font-size: 0.7rem;
}
.image-cover {
    position: relative;
}
.overlay {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.profile > p {
    color: white;
}
/*
MY-BUTTONS
*/
.my-button-header {
    border-top-left-radius: 1.75rem;
    border-top-right-radius: 1.75rem;
    border-bottom-left-radius: 1.75rem;
    border-bottom-right-radius: 1.75rem;
    padding: .625rem 1.875rem;
    background-color: rgba(0, 0, 0, 0);
    border-color: white;
    color: white;
    font-weight: bold;
    font-size: 0.5rem;
    transition: transform 0.5s;
}
