@import "reset.css";
@import "general.css";
@import "color.css";
@import "scrollbar.css";

/*
HEADER
*/
header {
    background-color: rgba(0, 0, 0, 0.5);
    width: calc(100% - 12.5rem);
    padding: 1.25rem;
    position: fixed;
    top: 0;
    text-align: right;
}
/*
MAIN-CONTAINER
*/
.main-container {
    height: calc(100vh - 6.25rem);
    display: flex;
}
aside {
    width: 12.5rem;
    background-color: black;
}

.width-right {
    width: calc(100% - 12.5rem);
    background-color: var(--first-color)
}

.section-overflow .container > h2 {
    color: white;
    padding: 1.25rem 0;
}
.section-overflow .container > p {
    color: var(--second-color);
    font-size: 0.7rem;
    padding-bottom: 1.25rem;
}

/*IMMAGINI*/

.dimension-image {
    width: 100%;
}
.square {
    border-radius: 50%;
}
/*
FOOTER
*/

footer {
    height: 6.25rem;
    background-color: var(--third-color);
}

/*
HOVER E PSEUDO ELEMENTI
*/
.mini-border::after {
    content: "";
    width: 1.25rem;
    height: 0.125rem;
    background-color: var(--sixth-color);
    display: block;
    margin: 5px auto;
}
.my-button-header:hover {
    transform: scale(1.2);
}
.section-overflow .container nav ul li a:hover {
    color: var(--fiveth-color);
}
.image-cover:hover .dimension-image {
    background-color: black;
    opacity: 0.3;
}
.image-cover:hover .overlay {
    opacity: 1;
}

/*----RESPONSIVE-----*/

/*Tablet: fino a 1100px*/
@media screen and (max-width:1100px) {

    .my-card {
        width: calc((100% / 4) - 1.25rem);
    }    
}

/*Mobile normale: fino a 700px*/
@media screen and (max-width:700px) {

    .my-card {
        width: calc((100% / 2) - 1.25rem);
    }    
}

/*Mobile piccolo: fino a 600px*/
@media screen and (max-width:600px) {
    
    aside {
        width: 3.75rem;
    }
    header {
        width: calc(100% - 3.75rem);
    }
    .width-right {
        width: calc(100% - 3.75rem);
    }
}
