@import "reset.css";
@import "general.css";
@import "color.css";
@import "scrollbar.css";

/*
HEADER
*/
header {
    background-color: rgba(0, 0, 0, 0.5);
    width: calc(100% - 12.5rem);
    padding: 1.25rem;
    position: fixed;
    top: 0;
    text-align: right;
}

/*
ASIDE
*/
.logo {
    padding: 1.0625rem 0;
    width: 70%;
}
.mobile {
    display: none;
}
.menu {
    display: flex;
}
.my-col-icons-left {
    width: 20%;
}
.my-col-icons-left > img {
    width: 80%;
    filter: opacity(0.8);
}
#color-svg {
    filter: opacity(0.5);
}
#color-svg-2 {
    filter: opacity(0.5);
    width: 30%;
}
.my-col-icons-right {
    width: 80%;
}
.my-col-icons-right > h4 {
    padding: .3125rem 0;
    color: var(--seventh-color);
    font-size: .875rem;
}
#color-h4 {
    color: var(--second-color);
}
.border {
    border-left: .1875rem solid var(--sixth-color);
}
section .container > h2{
    color: white;
    padding-top: 1.25rem;
    padding-bottom: .625rem;
    font-size: .875rem;
}
.my-col-playlist-left {
    width: 30%;
}
.my-col-playlist-right {
    width: 70%;
}
.my-col-playlist-left > i {
    color: var(--second-color);
}
.my-col-playlist-right > h4{
    color: var(--second-color);
    font-size: .875rem;
    padding: .9375rem 0;
}
.link-playlist ul {
    list-style-type: none;
    overflow: hidden;
}
.link-playlist ul li {
    padding: .625rem 0;
}
.link-playlist ul li a {
    color: var(--second-color);
    font-weight: bold;
    font-size: 0.8rem;
    text-decoration: none;
}
.link-playlist {
    overflow-y: auto;
    height: 35vh;
}
.section-playlist {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.user {
    padding: .625rem 0;
}
.installation {
    display: flex;
    border-bottom: 1px solid var(--second-color);
    margin-bottom: .625rem;
}
.icon-left {
    width: 10%;
}
.icon-left > img {
    filter: opacity(0.5);
    width: 80%;
}
.icon-right {
    width: 90%;
    display: flex;
    align-items: center;
    padding-bottom: .1563rem;
}
.icon-right > h4 {
    color: var(--second-color);
    font-size: 0.5rem;
    padding: 0.125rem 0.125rem;
}
.profile {
    display: flex;
}
.icon-left-2 {
    width: 30%;
}
.icon-left-2 > img{
    width: 1.875rem;
    height: 1.875rem;
    background-color: var(--second-color);
    border-radius: 50%;
}
.icon-right-2 {
    width: 70%;
}
.icon-right-2 > h4 {
    color: white;
    font-size: .875rem;
}
/*
MAIN-CONTAINER
*/
.main-container {
    height: calc(100vh - 6.25rem);
    display: flex;
}
aside {
    width: 12.5rem;
    background-color: black;
    display: flex;
    flex-direction: column;
    min-height: 18.75rem;
}

.width-right {
    width: calc(100% - 12.5rem);
    background-color: var(--first-color)
}

.section-overflow .container > h2 {
    color: white;
    padding: 1.25rem 0;
}
.section-overflow .container > p {
    color: var(--second-color);
    font-size: 0.7rem;
    padding-bottom: 1.25rem;
}

/*IMMAGINI*/

.dimension-image {
    width: 100%;
}
.square {
    border-radius: 50%;
}
.border {
    border-left: 3px solid var(--sixth-color);
}
/*
FOOTER
*/

footer {
    height: 6.25rem;
    background-color: var(--third-color);
    position: relative;
}
.my-song {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.song-listening {
    display: flex;
    align-items: center; 
}
.photo-album {
    width: 3.75rem;
    height: 3.75rem;
}
.photo-album > img {
    width: 100%;
    height: 100%;  
}
.name-album {
    padding-left: .625rem;
    padding-right: .625rem;
}
.name-album > h4 {
    color: white;
}
.name-album > h5 {
    color: var(--second-color);
}
.icon > i {
    color: var(--second-color);
    cursor: pointer;
}
.icon > i:first-of-type {
    color: var(--second-color);
    padding: 0 .625rem;
}
.icon-2 > i {
    color: var(--seventh-color);
}
.icon-2 > i:first-of-type {
    color: var(--seventh-color);
    padding: 0 .625rem;
}
.icon-2 {
    min-width: 3.125rem;
}
.audio > i {
    color: var(--seventh-color);
}
.buttons-minutes {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1.25rem;
}
.buttons {
    display: flex;
}
.buttons > button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    color: white;
    padding: 0.625rem;
}
.minutes {
    display: flex;
    align-items: center;
    width: 100%;
}
.minute {
    color: white;
    font-size: .625rem;
    font-weight: bold;
}
.progression {
    width: 100%;
    height: .3125rem;
    background-color: var(--second-color);
    cursor: pointer;
    margin: 0 1.25rem;
}
.progressive-minutes {
    width: 30%;
    height: .3125rem;
    background-color: var(--seventh-color);
    position: relative;
}
.volume {
    display: flex;
    width: 15%;
}
.audio {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding-left: 10px;
}
/*
HOVER E PSEUDO ELEMENTI
*/
.mini-border::after {
    content: "";
    width: 1.25rem;
    height: 0.125rem;
    background-color: var(--sixth-color);
    display: block;
    margin: 5px auto;
}
.progressive-minutes::after {
    content: "";
    width: .625rem;
    height: .625rem;
    border-radius: 50%;
    background-color: transparent;
    display: block;
    position: absolute;
    top: -2.5px;
    right: -2.5px;
}
.my-button-header:hover {
    transform: scale(1.2);
}
.section-overflow .container nav ul li a:hover {
    color: var(--fiveth-color);
}
.image-cover:hover .dimension-image {
    background-color: black;
    opacity: 0.3;
}
.image-cover:hover .overlay {
    opacity: 1;
}
.menu:hover h4, .menu:hover #color-h4, .menu:hover i, .link-playlist li:hover a{
    color: var(--fiveth-color);
}
.menu:hover img, .menu:hover #color-svg {
    filter: opacity(1);
}
.installation:hover img{
    filter: opacity(1);
} 
.installation:hover h4 {
    color: var(--fiveth-color);
}
.name-album:hover h5 {
    text-decoration: underline;
    color: var(--fiveth-color);
}
.icon i:hover {
    color: var(--fiveth-color);
}
.buttons #play:hover {
    transform: scale(1.2);
}
.progression:hover .progressive-minutes::after {
    background-color: black;
}
.progression:hover .progressive-minutes {
    background-color: var(--sixth-color);
}

/*----RESPONSIVE-----*/

/*Tablet: fino a 1100px*/
@media screen and (max-width:1100px) {

    .my-card {
        width: calc((100% / 4) - 1.25rem);
    }    
}

/*Mobile normale: fino a 700px*/
@media screen and (max-width:700px) {

    .my-card {
        width: calc((100% / 2) - 1.25rem);
    }    
}

/*Mobile piccolo: fino a 600px*/
@media screen and (max-width:600px) {
    
    aside {
        width: 3.75rem;
    }
    header {
        width: calc(100% - 3.75rem);
    }
    .width-right {
        width: calc(100% - 3.75rem);
    }
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
    .my-col-icons-left {
        width: 100%;
    }
    .my-col-icons-right {
        display: none;
    }
    .mob-none {
        display: none;
    }
    .menu .my-col-playlist-left, .menu .my-col-playlist-right {
        display: none;
    }
    .link-playlist {
        display: none;
    }
    .icon-right, .icon-right-2 {
        display: none;
    }
    .installation {
        border: none;
    }
    .icon-left {
        width: 50%;
    }
    .icon-left > img{
        width: 100%;
        margin-left: .1563rem;
    }
    .container-playlist {
        justify-content: flex-end;
    }
}